bot:
  owner: NaomiAmethyst
  friends:
    - ClueBot
    - DASHBotAV
  run: true
  angry: false
  readonly: false

wikipedia:
  host: en.wikipedia.org
  username: ClueBot_NG

irc:
  server: irc.libera.chat
  port: 6697
  username: CBNGRelay
  channel:
    spam: wikipedia-en-cbngfeed2
    revert: wikipedia-en-cbngrevertfeed2
    debug: wikipedia-en-cbngdebug2

sql:
  replica:
    username: root
    host: 127.0.0.1
    port: 3306
    schema: enwiki_p
  cluebot:
    username: root
    host: 127.0.0.1
    port: 3306
    schema: cbng
